#primary-menu .sub-menu:after,
#primary-menu .sub-menu:before {
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f3f4f6;
    height: 0;
    left: 15%;
    position: absolute;
    top: -8px;
    transform: translate(-50%);
    width: 0;
    z-index: 2;
}
